/* ImageGame.css */
body, html {
    margin: 0;
    padding: 0;
    background-image: url(../pics/background_image.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 60vmin;
    height: 60vmin;
    margin-bottom: 70px;
}

.container img {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(238, 234, 231);
    cursor: pointer;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    gap: 20px; /* 按钮之间的间距 */
    margin-bottom: 20px; /* 与其他元素的间距 */
    margin-top: 70px;
}

.music-button, .confirm-button {
    padding: 10px 15px;
    background-color: rgb(196, 204, 211);
    color: rgb(238, 234, 231);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.music-button:hover, .confirm-button:hover {
    background-color: rgb(159, 179, 195);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.container img:hover,
.container img.selected {
    border-color: rgb(159, 179, 195); /* 鼠标悬停或选中时的边框颜色 */
}

.alert-box {
    position: fixed;
    top: 5%; /* 可以调整这个值来改变提示框在页面中的位置 */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(159, 179, 195); /* 背景颜色 */
    padding: 15px; /* 内边距 */
    border-radius: 10px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    text-align: center;
    opacity: 0; /* 初始透明度 */
    visibility: hidden; /* 初始不可见 */
    transition: opacity 2s, visibility 2s; /* 过渡效果 */
    max-width: 80%; /* 最大宽度，防止在小屏幕上过宽 */
    box-sizing: border-box; /* 确保宽度包括内边距和边框 */
}

.alert-box.show {
    opacity: 1; /* 完全不透明 */
    visibility: visible; /* 可见 */
}


.alert-box p {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    color: rgb(238, 234, 231);
    font-family: Helvetica;
    font-size: 16px; /* 字体大小 */
    margin: 0; /* 移除默认的段落间距 */
}

.alert-hidden {
    display: none;
    opacity: 0; /* 完全透明 */
    visibility: hidden; /* 不可见 */
    transition: opacity 2s, visibility 2s;
}

.logo {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 250px;
    height: auto;
}

.hidden {
    opacity: 0;
    transition: opacity 2s;
}

.game-img.selected {
    border-color: rgb(43, 168, 56) /* 选中时的边框颜色 */
}
