.App {
  text-align: center;
  background-image: url(../pics/home_background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
  .upload-logo {
    width: 600px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -70px;
  }

  .upload_reminder {
    font-size: 20px;
    max-width: 50%; /* 适当调整宽度 */
    margin: 0px auto; /* 上下间距 */
    font-family: Helvetica;
    line-height: 1.5;
    color: rgb(159, 179, 195);
  }
  
  .photo-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }
  
  .photo-upload {
    margin-bottom: 35px;
    max-width: 50%;
  }
  
  .continue-button {
    margin-top: 20px; /* 调整上边距 */
  padding: 10px 20px; /* 按钮内边距 */
  font-size: 20px; /* 字体大小 */
  background-color: rgb(159, 179, 195); /* 背景颜色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(238, 234, 231);
  }