.App {
    text-align: center;
    background-image: url('upload_background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(0, 0, 0);
  }
 
  .reminder {
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Bowlby One SC';
    font-weight: bold;
    color: rgb(159, 179, 195);
  }

  .logo {
    width: 500px;
    max-width: 50%;
    margin-top: 160px;
  }
  
  .photo-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }
  
  .photo-upload {
    margin-bottom: 35px;
    max-width: 50%;
  }
  
  .continue-button {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
  }